{% extends "base11.html" %}

{% block title %}ListaProductos{% endblock title %}

{% block content %}
<h1>Lista Productos</h1>
    <table class="table table-bordered">
      <th>Id Juego</th>
      <th>Nombre Juego</th>
      <th>Plataforma</th>
      <th>Genero</th>
      <th>ESRB</th>
      <th>Precio</th>
      <th>Desarrollador</th>
      <th>Fecha de salida</th>
      <th>Puntuacion</th>
      <th>Alta producto</th>
      {% for item in object_list %}
        <tr>
        <td>{{ item.ID_Juego }}</td>
        <td>{{ item.Nombre_Juego }}</td>
        <td>{{ item.Plataforma }}</td>
        <td>{{ item.Genero }}</td>
        <td>{{ item.ESRB }}</td>
        <td>{{ item.Precio }}</td>
        <td>{{ item.Nombre_Desarrollador }}</td>
        <td>{{ item.Fecha_Lanzamiento }}</td>
        <td>{{ item.Puntuacion }}</td>
        <td>{{ item.Alta_Producto}}</td>
        <td><a href="{% url 'inv:detail' item.ID_Juego %}"><button type="button" name="button" class="btn btn-success btn-circle"><i class="fas fa-save fa-sm"></button></a></td>
        <td><a href="{% url 'inv:delete' item.ID_Juego %}"><button type="button" name="button" class="btn btn-danger btn-circle"><i class="fas fa-trash fa-sm"></button></a></td>
        <td><a href="{% url 'inv:update' item.ID_Juego %}"><button type="button" name="button" class="btn btn-warning btn-circle"><i class="fas fa-pen fa-sm"></button></a></td>
      </tr>
      {% endfor %}
    </table>
{% endblock content %}
