{% extends "base11.html" %}

{% block title %}Borrar Producto{% endblock title %}

{% block content %}

<form class="" action="" method="post">
  {% csrf_token %}
  <h6>Deseas borrar el producto?</h6>
  {{ object.Nombre_Juego }}
  <button type="submit" name="deleteproducto" class = "btn btn-danger btn-circle"><i class = "sa fa-trash fa-sm"></button>
  <a href="{% url 'inv:listproducto' %}" class = "btn btn-primary btn-circle"><i class = "sa fa-arrow-left fa-sm"></a>
</form>

{% endblock content %}
